#planetInfo {
	position: absolute;
	top: 20%;
	left:10px;
	width: 0%;
	/* text-align: center; */
	z-index: 100;
	display:block;
	color:white;
	font-size: small;
}

.stopAnimDiv{
	width: 200px;
	border-color: white;
	height: 200px;
	top: 20px;
	left: 20px;
	position: sticky;
}